.header-h{
    max-width: 1600px;
    padding: 40px 0 45px;

    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)),url('../images/header-img/header-bg-mobile@1x.jpg');
   
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/header-img/header-bg-mobile@2x.jpg');
 }
    @media(min-width:768px){
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)),url('../images/header-img/header-bg-tablet@1x.png');
        @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      background-image:linear-gradient(0deg, #0000008f, #0000), url('../images/header-img/header-bg-tablet@2x.png');
    }
    }
    @media(min-width:1280px){
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)),url('../images/header-img/header-bg-tablet@1x.png');
        @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      background-image:linear-gradient(0deg, #0000008f, #0000), url('../images/header-img/header-bg-tablet@2x.png');
    }
    }
}

.nav__wrapper-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @media(min-width:768px){
        margin-bottom: 40px;
    }
}
.logo__link-h{
    display: flex;
    align-items: baseline;
    text-decoration: none;
}

.logo-icon-h{
    display: flex;
    align-items: flex-start;
    width: 24px;
    height: 24px;
}

.logo__wrapper-h{

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    

}

.logo__text-h{
    display: none;
    @media(min-width:768px){
        display:inline-block;
        color:#ffffff;
        font-size: 32px;
        line-height: 1.17;
        font-weight: 500;
        margin-left: 8px;
    }
}

.nav__list-h{
    display: flex;
}

.nav__item-h{
   
    &:first-child{
        margin-right: 40px;
    }

}

.nav__link-h{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.17;
    color: #ffffff;
   
    text-decoration: none;
    position: relative;
    &--current::after{
        content: '';
        position: absolute;
        top:0;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #FF001B;
    }
}

.form-thumb-h{
    position: relative;

    @media(min-width:768px){
        width: 336px;
        margin: 0 auto;
    }
}

.input-search-h{
    width:100%;
    height: 30px;
    color:white;
    padding: 16px 0 16px 8px;
    background-color: transparent;
    margin-bottom: 16px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid white;
    &::placeholder{
        padding: 8px 0;
        font-size: 14px;
        font-family: Roboto,sans-serif;
    }
    @media(min-width:768px){
        display: block;
        width: 336px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

    }
   
}

.form__label{
    display: block;
    opacity: 0;
    width: 100%;
    color:#FF001B;
    font-size: 14px;
    margin: 0 auto;
    text-align: start;
    @media(min-width:768px){
        text-align: center;
    }
}

   
.form-btn-h{
    position: absolute;
    z-index: 5;
    top:0;
    right: -8px;
    background-color: transparent;
    border: none;
    padding: 16px;
   
    
   
}

.search-icon-h{
    display: block;
    width: 12px;
    height: 12px;
   

}
